In [2]:
import os
import numpy as np
import pandas as pd

dir_data="./data/"

f_app=os.path.join(dir_data,'application_train.csv')
print('path of read in data: %s' %(f_app))

app_train=pd.read_csv(f_app)

path of read in data: ./data/application_train.csv

In [3]:

#?pd.read_csv
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [93]:
c=0
field={}
for count in app_train.head(0):
    field[c]=count
    c=c+1

print ('Total numbers of columns of CSV is:', c)

r=0
for r in app_train.index:
    r=r+1
r=r+1

print ('Lengh of file is:', len(app_train))
print ('Total numbers of rows of CSV is ' ,r)

Total numbers of columns of CSV is: 122
Lengh of file is: 307511
Total numbers of rows of CSV is  307512

In [97]:
print ('Show all columns as below:')
field

Show all columns as below:

{0: 'SK_ID_CURR',
 1: 'TARGET',
 2: 'NAME_CONTRACT_TYPE',
 3: 'CODE_GENDER',
 4: 'FLAG_OWN_CAR',
 5: 'FLAG_OWN_REALTY',
 6: 'CNT_CHILDREN',
 7: 'AMT_INCOME_TOTAL',
 8: 'AMT_CREDIT',
 9: 'AMT_ANNUITY',
 10: 'AMT_GOODS_PRICE',
 11: 'NAME_TYPE_SUITE',
 12: 'NAME_INCOME_TYPE',
 13: 'NAME_EDUCATION_TYPE',
 14: 'NAME_FAMILY_STATUS',
 15: 'NAME_HOUSING_TYPE',
 16: 'REGION_POPULATION_RELATIVE',
 17: 'DAYS_BIRTH',
 18: 'DAYS_EMPLOYED',
 19: 'DAYS_REGISTRATION',
 20: 'DAYS_ID_PUBLISH',
 21: 'OWN_CAR_AGE',
 22: 'FLAG_MOBIL',
 23: 'FLAG_EMP_PHONE',
 24: 'FLAG_WORK_PHONE',
 25: 'FLAG_CONT_MOBILE',
 26: 'FLAG_PHONE',
 27: 'FLAG_EMAIL',
 28: 'OCCUPATION_TYPE',
 29: 'CNT_FAM_MEMBERS',
 30: 'REGION_RATING_CLIENT',
 31: 'REGION_RATING_CLIENT_W_CITY',
 32: 'WEEKDAY_APPR_PROCESS_START',
 33: 'HOUR_APPR_PROCESS_START',
 34: 'REG_REGION_NOT_LIVE_REGION',
 35: 'REG_REGION_NOT_WORK_REGION',
 36: 'LIVE_REGION_NOT_WORK_REGION',
 37: 'REG_CITY_NOT_LIVE_CITY',
 38: 'REG_CITY_NOT_WORK_CITY',
 39: 'LIVE_CITY_NOT_WORK_CITY',
 40: 'ORGANIZATION_TYPE',
 41: 'EXT_SOURCE_1',
 42: 'EXT_SOURCE_2',
 43: 'EXT_SOURCE_3',
 44: 'APARTMENTS_AVG',
 45: 'BASEMENTAREA_AVG',
 46: 'YEARS_BEGINEXPLUATATION_AVG',
 47: 'YEARS_BUILD_AVG',
 48: 'COMMONAREA_AVG',
 49: 'ELEVATORS_AVG',
 50: 'ENTRANCES_AVG',
 51: 'FLOORSMAX_AVG',
 52: 'FLOORSMIN_AVG',
 53: 'LANDAREA_AVG',
 54: 'LIVINGAPARTMENTS_AVG',
 55: 'LIVINGAREA_AVG',
 56: 'NONLIVINGAPARTMENTS_AVG',
 57: 'NONLIVINGAREA_AVG',
 58: 'APARTMENTS_MODE',
 59: 'BASEMENTAREA_MODE',
 60: 'YEARS_BEGINEXPLUATATION_MODE',
 61: 'YEARS_BUILD_MODE',
 62: 'COMMONAREA_MODE',
 63: 'ELEVATORS_MODE',
 64: 'ENTRANCES_MODE',
 65: 'FLOORSMAX_MODE',
 66: 'FLOORSMIN_MODE',
 67: 'LANDAREA_MODE',
 68: 'LIVINGAPARTMENTS_MODE',
 69: 'LIVINGAREA_MODE',
 70: 'NONLIVINGAPARTMENTS_MODE',
 71: 'NONLIVINGAREA_MODE',
 72: 'APARTMENTS_MEDI',
 73: 'BASEMENTAREA_MEDI',
 74: 'YEARS_BEGINEXPLUATATION_MEDI',
 75: 'YEARS_BUILD_MEDI',
 76: 'COMMONAREA_MEDI',
 77: 'ELEVATORS_MEDI',
 78: 'ENTRANCES_MEDI',
 79: 'FLOORSMAX_MEDI',
 80: 'FLOORSMIN_MEDI',
 81: 'LANDAREA_MEDI',
 82: 'LIVINGAPARTMENTS_MEDI',
 83: 'LIVINGAREA_MEDI',
 84: 'NONLIVINGAPARTMENTS_MEDI',
 85: 'NONLIVINGAREA_MEDI',
 86: 'FONDKAPREMONT_MODE',
 87: 'HOUSETYPE_MODE',
 88: 'TOTALAREA_MODE',
 89: 'WALLSMATERIAL_MODE',
 90: 'EMERGENCYSTATE_MODE',
 91: 'OBS_30_CNT_SOCIAL_CIRCLE',
 92: 'DEF_30_CNT_SOCIAL_CIRCLE',
 93: 'OBS_60_CNT_SOCIAL_CIRCLE',
 94: 'DEF_60_CNT_SOCIAL_CIRCLE',
 95: 'DAYS_LAST_PHONE_CHANGE',
 96: 'FLAG_DOCUMENT_2',
 97: 'FLAG_DOCUMENT_3',
 98: 'FLAG_DOCUMENT_4',
 99: 'FLAG_DOCUMENT_5',
 100: 'FLAG_DOCUMENT_6',
 101: 'FLAG_DOCUMENT_7',
 102: 'FLAG_DOCUMENT_8',
 103: 'FLAG_DOCUMENT_9',
 104: 'FLAG_DOCUMENT_10',
 105: 'FLAG_DOCUMENT_11',
 106: 'FLAG_DOCUMENT_12',
 107: 'FLAG_DOCUMENT_13',
 108: 'FLAG_DOCUMENT_14',
 109: 'FLAG_DOCUMENT_15',
 110: 'FLAG_DOCUMENT_16',
 111: 'FLAG_DOCUMENT_17',
 112: 'FLAG_DOCUMENT_18',
 113: 'FLAG_DOCUMENT_19',
 114: 'FLAG_DOCUMENT_20',
 115: 'FLAG_DOCUMENT_21',
 116: 'AMT_REQ_CREDIT_BUREAU_HOUR',
 117: 'AMT_REQ_CREDIT_BUREAU_DAY',
 118: 'AMT_REQ_CREDIT_BUREAU_WEEK',
 119: 'AMT_REQ_CREDIT_BUREAU_MON',
 120: 'AMT_REQ_CREDIT_BUREAU_QRT',
 121: 'AMT_REQ_CREDIT_BUREAU_YEAR'}

In [100]:
print ('Show last three records:', app_train.tail(3))

Show last three records:         SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
307508               Y             0          153000.0    677664.0
307509               Y             0          171000.0    370107.0
307510               N             0          157500.0    675000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
307508      29979.0  ...                 0                0                0
307509      20205.0  ...                 0                0                0
307510      49117.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
307508                0                        1.0                       0.0
307509                0                        0.0                       0.0
307510                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
307508                         0.0                        1.0
307509                         0.0                        0.0
307510                         0.0                        2.0

        AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
307508                        0.0                         1.0
307509                        0.0                         0.0
307510                        0.0                         1.0

[3 rows x 122 columns]